<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caching</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css" rel="stylesheet"/>
</head>
<body>
    {% cache 500 programmers %}
    <div class="container py-5">
        <table class="table">
           <thead>
              <tr>
                 <th>Name</th>
                 <th>DOB</th>
                 <th>Language</th>
                 <th>Quote</th>
              </tr>
           </thead>
           <tbody>
              {% for programmer in programmers %}

              <tr>
                 <td>{{programmer.name}}</td>
                 <td>{{programmer.dob}}</td>
                 <td>{{programmer.language}}</td>
                 <td>{{programmer.quote}}</td>
              </tr>
              {% endfor %}
           </tbody>
        </table>
     </div>
     {% endcache %}
</body>
</html>